:root {
  --red: rgba(211, 87, 91, 0.81);
  --red-glow: rgba(211, 87, 91, 0.91);
  --red-scanline: rgba(204, 94, 98, 0.2);
  --black-scanline: rgba(1, 1, 1, 0.9);
  --black-hover-background: rgba(0, 0, 0, 0.25);
  --blue: #61e4fa;
  --yellow: #f7f500;
  --text-shadow: rgb(0, 208, 255);
}

body
{
	background-image:url(nasa-Q1p7bh3SHj8-unsplash.jpg); /*https://unsplash.com/photos/Q1p7bh3SHj8?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink*/
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family:Verdana;
	font-size:20px;
	color:black;
	
}

#container
{
	width: 1280px;
	margin-left: auto;
	margin-right: auto;
	
}
#logo
{
	background-color: yellowgreen;
	color: white;
	text-align: center;
	padding: 10px;
	border: 10px inset #808080;
}
#nav
{
	float:left;
	background-color:#808080;
	width:160px;
	min-height:770px;
	padding:10px;
	
}
#content
{
	float:left;
	color:white;
	text-align: center;
	padding:20px;
	width:880px;
	min-height:750px;
	background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      var(--red-scanline) 1px,
      var(--red-scanline) 3px,
      var(--red-scanline) 5px,
      var(--red-scanline) 4px,
      transparent 0.5%
    ),
    repeating-linear-gradient(
      to left,
      var(--black-scanline) 100%,
      var(--black-scanline) 100%
    );
	
	color: var(--red);
  font-size: 26px;
  text-shadow: 0px 0px 3px var(--red-glow);
	
}
#ad
{
	float:left;
	width:160px;
	min-height:770px;
	padding:10px;
	background-color:#808080;
	
}
#footer
{
	clear: both;
	background-color:black;
	color:white;
	text-align:center;
	padding:20px;
	border: 10px outset #808080;
	
}

input[type=text],
input[type=password]
{
	
  width: calc(50% - 90px);
  border: 30px solid #808080;
  border-left: 5px solid aqua;
  border-right: 5px solid aqua;
  border-bottom: 15px solid #808080;
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100%
  calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px),
  calc(80% - 15px) calc(100% - 0px), 10px calc(100% - 0px), 0% calc(100% - 10px));
  padding: 12px;
	

}

input[type=submit]
{
  width: 300px;
  height: 86px;
  font-size: 40px;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
}
.g-recaptcha
{
  width: 302px;
  height: 93px;
  font-size: 40px;
  background: linear-gradient(45deg, transparent 5%, white 5%);
  border: 0;
  color: #fff;
  letter-spacing: 2px;
  line-height: 88px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  
}

.paneluzytkownika
{
  width:100%;
  height:40px;
  background-color:#808080;
  text-align:center;
  border: 5px outset #6D7D75;

}

.paneluzytkownika_napis
{

	padding:5px;
	font-family:Verdana;
	text-align: center;
	font-size: 20px;
	color: var(--yellow);
  text-shadow: var(--text-shadow) 1px 1px 0px;
  line-height: 1.5;
}

.logo {
  font-family: "Verdana";
  color: var(--yellow);
  text-align: center;
  font-size: 42px;
  text-shadow: var(--text-shadow) 2px 3px 0px;
  line-height: 1.5;
  padding: 0px 10px;
}

.sublogo {
  font-family: "Verdana";
  font-size: 24px;
  text-shadow: center;
  text-align: auto;
  text-shadow: var(--text-shadow) 1px 2px 0px;
  letter-spacing: 24px;
  padding-left: 350px;
}

.menu {

  margin-top:15px;
  display: inline-block;
  margin-left: auto;
  width: 100%;
  height: 100px;
  
   background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      var(--red-scanline) 1px,
      var(--red-scanline) 3px,
      var(--red-scanline) 5px,
      var(--red-scanline) 4px,
      transparent 0.5%
    ),
    repeating-linear-gradient(
      to left,
      var(--black-scanline) 100%,
      var(--black-scanline) 100%
    );

}

.wybor
{
	
  display: inline-block;
  margin-left: auto;
  padding:auto;
  width: 100%;
  height: 80px;
  margin-top:15px;
  
   background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      var(--red-scanline) 1px,
      var(--red-scanline) 3px,
      var(--red-scanline) 5px,
      var(--red-scanline) 4px,
      transparent 0.5%
    ),
    repeating-linear-gradient(
      to left,
      var(--black-scanline) 100%,
      var(--black-scanline) 100%
    );
}

.wybor ul {
	
  list-style-type: none;
  padding: 0px 25px;
  
}

.wybor ul li {
  
  box-sizing: border-box;
  float:left;
  text-transform: uppercase;
  cursor: pointer;
  /* layout */
  position: relative;
  padding: 3px;
  margin: -5px 4px;
  overflow: hidden;
  width: 250px;
  height: 54.5px;
  clip-path: polygon(250px 0px, 250px 29px, 222px 57px, 0px 57px, 0px 0px);

  /* font */
  color: var(--red);
  font-size: 26px;
  text-shadow: 0px 0px 3px var(--red-glow);

  /* Border */
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  /* Animation */
  transition: color 1s ease-out;
  transition: border-color 1s ease-out;
}

.wybor ul li::after {
  /* Layout */
  content: "";
  position: absolute;
  bottom: -17px;
  right: -17px;
  width: 30px;
  height: 30px;
  transform: rotate(45deg);

  /* Border */
  border-width: 2px;
  border-style: solid;
  border-color: transparent;

  /* Animation */
  transition: color 1s ease-out;
  transition: border-color 1s ease-out;
}

.wybor ul li:hover::after,
.wybor ul li:hover {
  color: var(--blue);
  background: var(--black-hover-background);
  
  border-color: var(--blue);

  transition: color 0.23s linear;
  transition: border-color 0.23s linear;
}

#wydarzenia
{
	color: var(--red);
	font-size: 26px;
	background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      var(--red-scanline) 1px,
      var(--red-scanline) 3px,
      var(--red-scanline) 5px,
      var(--red-scanline) 4px,
      transparent 0.5%
    ),
    repeating-linear-gradient(
      to left,
      var(--black-scanline) 100%,
      var(--black-scanline) 100%
    );
	margin-top:15px;
	margin-left:25%;
  width: calc(50% - 90px);
  border: 30px solid var(--yellow);
  border-left: 5px solid aqua;
  border-right: 5px solid aqua;
  border-bottom: 15px solid var(--yellow);
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100%
  calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px),
  calc(80% - 15px) calc(100% - 0px), 10px calc(100% - 0px), 0% calc(100% - 10px));
  padding: 12px;
	

}
#formularzw
{
	color: var(--red);
	text-align:center;
	margin-left:-40px;
	
}

a:link
{
   color: var(--red);
   text-decoration: none;
}

a:visited
{
   color:var(--red) ;
}

a:hover
{
   color: var(--blue);
}

a:active
{
   color: var(--red);
}

a.wyloguj:link
{
   color: var(--blue);
   text-decoration: none;
}

a.wyloguj:visited
{
   color:var(--blue) ;
}

a.wyloguj:hover
{
   color: var(--yellow);
}
a.wyloguj:active
{
   color: var(--blue);
}
.wideo
{
	
	height:640px;
	width:1024px;
	margin-top:50px;
	margin-left:50px;
	padding:10px;
	
	background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      var(--red-scanline) 1px,
      var(--red-scanline) 3px,
      var(--red-scanline) 5px,
      var(--red-scanline) 4px,
      transparent 0.5%
    ),
    repeating-linear-gradient(
      to left,
      var(--black-scanline) 100%,
      var(--black-scanline) 100%
    );
	
}
.wideom
{
	
	height:640px;
	width:940px;
	margin-top:50px;
	margin-left:50px;
	padding:10px;
	
	background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      var(--red-scanline) 1px,
      var(--red-scanline) 3px,
      var(--red-scanline) 5px,
      var(--red-scanline) 4px,
      transparent 0.5%
    ),
    repeating-linear-gradient(
      to left,
      var(--black-scanline) 100%,
      var(--black-scanline) 100%
    );
	
}

.wideotelefon
{
	
	height:640px;
	width:860px;
	margin-top:50px;
	margin-left:50px;
	padding:10px;
	
	background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      var(--red-scanline) 1px,
      var(--red-scanline) 3px,
      var(--red-scanline) 5px,
      var(--red-scanline) 4px,
      transparent 0.5%
    ),
    repeating-linear-gradient(
      to left,
      var(--black-scanline) 100%,
      var(--black-scanline) 100%
    );
	
}

h2
{
	text-align:center;
	color:var(--yellow) ;
	text-shadow: var(--text-shadow) 1px 2px 0px;
	font: 30px Verdana;, Sans-Serif;
	margin: 0 0 10px 0;
}
#page-wrap
{
	margin-top:50px;
	float:right;
	margin-right:calc(10px-70px);
	width: 360px;
	padding:10px;
	background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      var(--red-scanline) 1px,
      var(--red-scanline) 3px,
      var(--red-scanline) 5px,
      var(--red-scanline) 4px,
      transparent 0.5%
    ),
    repeating-linear-gradient(
      to left,
      var(--black-scanline) 100%,
      var(--black-scanline) 100%
    );
	
}

#chat-wrap
{
	
	
	margin: 0 0 15px 0;
}
#chat-area
{ 
	height: 353px;
	overflow: auto;
	border: 1px solid #666;
	padding: 20px;
	width: 320px;
	background: rgb(249,250,31);
background: dimgray;
  border: 30px solid var(--yellow);
  border-left: 5px solid aqua;
  border-right: 5px solid aqua;
  border-bottom: 15px solid var(--yellow);
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100%
  calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px),
  calc(80% - 15px) calc(100% - 0px), 10px calc(100% - 0px), 0% calc(100% - 10px));
  padding: 12px;
	
}
#chat-area span
{ 
	color: var(--yellow);
	background: #333;
	padding: 4px 8px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 8px;
	margin: 0 5px 0 0;
}
#chat-area p
{ 
	padding: 8px 0;
	border-bottom: 1px solid #ccc;
 }

#name-area
{
	position: absolute;
	top: 12px;
	right: 0;
	color: white;
	font: bold 12px "Lucida Grande",
	Sans-Serif;
	text-align: right;
}   
#name-area span
{ 
color: #fa9f00;
}
#send-message-area p
{
	
	color:var(--red) ;
	font-family:Verdana;
	padding-top: 1px;
	font-size: 20px;
	
}
#sendie
{ 
clear: both;
margin-top:1px;

  width: 320px;
  border: 30px solid var(--yellow);
  border-left: 5px solid aqua;
  border-right: 5px solid aqua;
  border-bottom: 15px solid var(--yellow);
  clip-path: polygon(0px 25px, 26px 0px, calc(60% - 25px) 0px, 60% 25px, 100% 25px, 100%
  calc(100% - 10px), calc(100% - 15px) calc(100% - 10px), calc(80% - 10px) calc(100% - 10px),
  calc(80% - 15px) calc(100% - 0px), 10px calc(100% - 0px), 0% calc(100% - 10px));
  padding: 12px;
  
}

#powitanie
{
  font-size: 26px;
  color: var(--red) ;
  text-align: center;
  height: 750px;
  background: repeating-linear-gradient(
      to bottom,
      transparent 0%,
      var(--red-scanline) 1px,
      var(--red-scanline) 3px,
      var(--red-scanline) 5px,
      var(--red-scanline) 4px,
      transparent 0.5%
    ),
    repeating-linear-gradient(
      to left,
      var(--black-scanline) 100%,
      var(--black-scanline) 100%
    );
}

#adres
{	
	width:880px;
	margin-left:50px;
	padding:15px;
	text-align: center;
	color:red;
	
	
	
	
}




